/* div {
     display: inline;
}
*/

/*
div::after {
    content: "";
    clear: both;
    display: table;
    /*overflow: auto;*/
/*    
}
*/

div.container {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px;
}

div.infotom {
    position: absolute;

    background-color: lightgreen;
    white-space: nowrap;
}

.lrtl {
    direction:rtl;
}


/* New editable InfoTom */
div.addnewone {
    background-color: lightblue;
    transition: background-color 1s ease-in-out;
    text-align: center;

    direction: rtl;

    top: 30px;
    left: 540px;

    width:300px;
    height:90px;
}
div.addnewone:hover {
    background-color: green;
}

.addnewone input[type=text] {
    border: none;
    border-top: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    background-color: lightblue;
    color: black;
    width: 95%;
    margin: 5px auto;
    transition: background-color 0.4s ease-in-out;
}
.addnewone input[type=text]:focus {
    background-color: lightgreen;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.addnewone textarea {
    resize: none;
    border: none;
    border-top: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    background-color: lightblue;
    color: black;
    width: 95%;
    margin: 5px auto;
    transition: background-color 0.4s ease-in-out;
}
.addnewone textarea:focus {
    background-color: lightgreen;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}



div.message {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 5px;
    border: 3px solid #73AD21;
    background-color: #cae8ca;
    z-index: 999;
}

